datacenter = "dc1"
data_dir = "/var/opt/consul"
#encrypt = "FIXME"
#retry_join = ["FIXME"]

performance {
  raft_multiplier = 1
}

server = true
ui = true
bootstrap_expect = {{ server_count }}
bind_addr = "{{ server_addr }}"
client_addr = "{{ server_addr }}"

{% if bootstrap is sameas false %}
retry_join = ["192.168.50.61"]
{% endif %}
