bind_addr = "{{ server_addr }}"

advertise {
   http = "{{ server_addr }}"
   rpc =  "{{ server_addr }}"
   serf = "{{ server_addr }}"
}

# Increase log verbosity
log_level = "DEBUG"

# Setup data dir
data_dir = "/var/opt/nomad"

# Auto join by consul
consul {
    address = "{{ server_addr }}:8500"
}

# Enable the server
server {
    enabled = true
    bootstrap_expect = {{ server_count }}
}
